<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.teamawesome.navii"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <compatible-screens>
        <!-- all small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small"/>
        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal"/>
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal"/>
    </compatible-screens>

    <application
        android:name="com.teamawesome.navii.NaviiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NaviiTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".activity.debug.DebugMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LaunchActivity">
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.PackageOverviewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".activity.PlannedTripsActivity"
            android:label="@string/itinerary_recommend_plan_trip"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.ItineraryRecommendActivity"
            android:label="@string/itinerary_recommend_title"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".activity.HeartAndSoulDetailsActivity"
            android:label="@string/itinerary_recommend_plan_trip"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.HeartAndSoulSaveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.PreferencesActivity"
            android:label="@string/preferences_title"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.ItineraryScheduleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.UploadImageTestActivity"
            android:label="Test Image Upload"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.OnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NaviiTheme.NoActionBar">
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
    </application>
    <service
        android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
        android:enabled="true" />

</manifest>
